{% extends '::base.html.twig' %}

{% block body %}

    <p><a href="{{ path('app_contact_showall') }}">Show all contacts</a></p>

    <img src="{{ asset(contact.webPicturePath)|default(asset('uploads/pictures/noPicture.png')) }}" width="100px" height="100px">
    <p>{{ contact.name }} {{ contact.surname }}</p>
    <p>{{ contact.description }}</p>

    <hr>

    <h3>Addresses</h3>
    <ul>
        {% for address in contact.addresses %}
            <li>
                {{ address.type }} | {{ address.city }}, {{ address.streetName }} {{ address.streetNumber }}
                |
                <form action="{{ path('app_address_delete', {'contactId': contact.id, 'addressId': address.id}) }}"
                      method="POST">
                    <input name="_method" type="hidden" value="DELETE">
                    <input type="submit" value="Delete">
                </form>
                |
                <a href="{{ path('app_address_modify', {'contactId': contact.id, 'addressId': address.id}) }}">modify</a>
            </li>
        {% else %}
            <p>No addresses found :(</p>
        {% endfor %}
    </ul>

    <a href="{{ path('app_address_new', {'contactId': contact.id}) }}">Add address</a>

    <hr>

    <h3>Phone numbers</h3>
    <ul>
        {% for phoneNumber in contact.phoneNumbers %}
            <li>
                {{ phoneNumber.type }} | {{ phoneNumber.number }}
                |
                <form action="{{ path('app_phonenumber_delete', {'contactId': contact.id, 'phoneNumberId': phoneNumber.id}) }}"
                      method="POST">
                    <input name="_method" type="hidden" value="DELETE">
                    <input type="submit" value="Delete">
                </form>
                |
                <a href="{{ path('app_phonenumber_modify', {'contactId': contact.id, 'phoneNumberId': phoneNumber.id}) }}">modify</a>
            </li>
        {% else %}
            <p>No phone numbers found :(</p>
        {% endfor %}
    </ul>

    <a href="{{ path('app_phonenumber_new', {'contactId': contact.id}) }}">Add phone number</a>

    <hr>

    <h3>Email addresses</h3>
    <ul>
        {% for emailAddress in contact.emailAddresses %}
            <li>
                {{ emailAddress.type }} | {{ emailAddress.address }}
                |
                <form action="{{ path('app_emailaddress_delete', {'contactId': contact.id, 'emailAddressId': emailAddress.id}) }}"
                      method="POST">
                    <input name="_method" type="hidden" value="DELETE">
                    <input type="submit" value="Delete">
                </form>
                |
                <a href="{{ path('app_emailaddress_modify', {'contactId': contact.id, 'emailAddressId': emailAddress.id}) }}">modify</a>
            </li>
        {% else %}
            <p>No email addresses found :(</p>
        {% endfor %}
    </ul>

    <a href="{{ path('app_emailaddress_new', {'contactId': contact.id}) }}">Add email address</a>

{% endblock %}
